<div class="bg-mainColor">
    <header class="container-fluid d-flex flex-wrap align-items-center justify-content-between mb-3 sm-py-2">
        <a href="/" class="d-flex align-items-center col-md-2 mb-2 sm-mb-0 mb-md-0 text-dark text-decoration-none text-linear-gradient fw-bold text-uppercase font-Equalizer">
            Cambet999
        </a>
        <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon text-white">
                <i class="fa-solid fa-bars"></i>
            </span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" id="nav-menu-mobile">
                    <li class="nav-item">
                        <a class="nav-link pb-4" href="/index.html">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pb-4" href="/about.html">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pb-4" href="/promotion.html">Khuyến mãi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pb-4" href="/contact.html">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pb-4" href="/games.html">Trò chơi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pb-4" href="/banks.html">Ngân hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pb-4" href="/tutorial.html">Hướng dẫn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pb-4" href="/news.html">Tin tức</a>
                    </li>
                </ul>
                <!-- button -->
                <div class="d-flex justify-content-center mt-4">
                    <button type="button" class="btn font-inter bg-outline-success me-2 px-4">Đăng ký</button>
                    <button type="button" class="btn font-inter bg-success">Đăng nhập</button>
                </div>
            </div>
        </div>
        <div class="d-none d-md-flex col-md-auto mb-2 justify-content-center mb-md-0">
            <ul class="nav" id="nav-menu">
                <li class="nav-item">
                    <a class="nav-link px-2 py-3 font-inter fs-14px h-100 w-auto text-secondary" href="/index.html">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 py-3 font-inter fs-14px h-100 w-auto text-secondary" href="/about.html">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 py-3 font-inter fs-14px h-100 w-auto text-secondary" href="/promotion.html">Khuyến mãi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 py-3 font-inter fs-14px h-100 w-auto text-secondary" href="/contact.html">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 py-3 font-inter fs-14px h-100 w-auto text-secondary" href="/games.html">Trò chơi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 py-3 font-inter fs-14px h-100 w-auto text-secondary" href="/banks.html">Ngân hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 py-3 font-inter fs-14px h-100 w-auto text-secondary" href="/tutorial.html">Hướng dẫn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 py-3 font-inter fs-14px h-100 w-auto text-secondary" href="/news.html">Tin tức</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 text-end d-none d-md-flex">
            <button type="button" class="btn font-inter bg-outline-success me-2 px-4">Đăng ký</button>
            <button type="button" class="btn font-inter bg-success">Đăng nhập</button>
        </div>
    </header>
</div>
<div class="container mx-auto overflow-hidden justify-content-md-between align-items-center bg-mainColor border-none shadow rounded-4 mb-3 d-none d-md-flex">
    <div class="position-absolute">
        <img src="./assets/images/Vector 131.png" alt="" class="opacity-25">
        <img src="./assets/images/Vector 132.png" alt="" class="opacity-25">
    </div>
    <div class="font-Equalizer bet-text col-md-2 z-500">
        BET
    </div>
    <div class="d-flex align-items-center z-500" style="color: #F6F4F9">
        <i class="fa-solid fa-gift"></i>&nbsp;&nbsp;
        <h6 class="mb-0">
            Nhận 300K cho khoản tiền gửi đầu tiên của bạn với LVG788, SSV388, S128, VIVA88, VIET88...
        </h6>
    </div>
    <div class="font-Equalizer nineninenine-text col-md-2 text-end z-500">
        999
    </div>
</div>